extends publicPages

block content
    .container-fluid
        main.col-12.py-5.pl-4.bd-content
            h2 Profile
            div#profile-form

block js
    script(src='/javascripts/profileForm.bundle.js')
