doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
  body
    nav.navbar.navbar-light.bg-light
      a.navbar-brand
        img(src="/images/logo.png" width="30" height="30" alt="")
        |   Cimm kpfu
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        block navbar-items
      div.form-inline
        block navbar-extra-items
    block content
  script(src='javascripts/vendor_app.bundle.js')
  block js

